.nodehive-activity-block .activity-tabs .active {
  color: var(--gin-color-button-text);
  background-color: var(--gin-color-primary-hover);
  border-color: var(--gin-color-primary-hover) !important;
}

.nodehive-activity-block .marker {
  font-size: var(--gin-font-size-xxs);
  font-weight: var(--gin-font-weight-semibold);
  display: inline-block;
  padding: .125em .75em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: var(--gin-border-l);
}

.nodehive-activity-block .marker--published {
  color: var(--gin-status-success-text);
  background-color: var(--gin-status-success-bg);
}

.nodehive-activity-block .marker--unpublished {
  color: var(--gin-status-text);
  background: var(--gin-status-bg);
}

.nodehive-activity-block .marker--archived {
  color: var(--gin-status-text);
  background: #ffe50030;
}

.nodehive-activity-block .marker--draft {
  color: var(--gin-status-text);
  background: var(--gin-status-bg);
}

.nodehive-activity-block table td:nth-child(2) {
  display: flex;
}
