.toolbar-tray a[data-drupal-link-system-path="admin/content-planner/dashboard"]::before,
.toolbar-button[href*="/admin/content-planner/dashboard"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/dashboard.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/dashboard.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="admin/content/space"]::before,
.toolbar-button[href*="/admin/content/space"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/spaces.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/spaces.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="visualeditor"]::before,
.toolbar-button[href*="visualeditor"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/preview.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/preview.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="admin/content"]::before,
.toolbar-button[href$="admin/content"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/content.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/content.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="admin/content/nodehive-content-project"]::before,
.toolbar-button[href$="admin/content/nodehive-content-project"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/project.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/project.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="admin/structure/types"]::before,
.toolbar-button[href*="admin/structure/types"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/modeling.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/modeling.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="admin/content/fragment"]::before,
.toolbar-button[href$="admin/content/fragment"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/fragments.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/fragments.svg) !important;
}


.toolbar-tray a[data-drupal-link-system-path="admin/content/media-grid"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/media.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/media.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="nodehive/models"]::before,
.toolbar-button[href*="nodehive/models"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/modeling.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/modeling.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="admin/config"]::before,
.toolbar-button[href*="admin/config"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/settings.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/settings.svg) !important;
}

.toolbar-tray a[data-drupal-link-system-path="admin"]::before {
  mask-image: url(/modules/contrib/nodehive_core/images/drupal.svg);
  -webkit-mask-image: url(/modules/contrib/nodehive_core/images/drupal.svg) !important;
}


.toolbar-tray a[data-drupal-link-system-path="admin/config"] {
  margin-bottom: 20px !important;
}
