/* css/nodehive-spaces-cards.css */

/* Common styles */
.nodehive-spaces-cards-container {
  display: grid;
  gap: 10px;
}

/* Desktop columns - you will use classes added dynamically */
.nodehive-spaces-cards-container.desktop-columns-1 { grid-template-columns: repeat(1, 1fr); }
.nodehive-spaces-cards-container.desktop-columns-2 { grid-template-columns: repeat(2, 1fr); }
.nodehive-spaces-cards-container.desktop-columns-3 { grid-template-columns: repeat(3, 1fr); }
.nodehive-spaces-cards-container.desktop-columns-4 { grid-template-columns: repeat(4, 1fr); }
.nodehive-spaces-cards-container.desktop-columns-5 { grid-template-columns: repeat(5, 1fr); }
.nodehive-spaces-cards-container.desktop-columns-6 { grid-template-columns: repeat(6, 1fr); }

.nodehive-space-card {
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensures content doesn't overflow the card */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
  min-height: 300px; /* Minimum height for each card */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space content evenly */
}

/* Desktops */
@media (min-width: 1024px) {
  .nodehive-spaces-cards-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
  }
}

/* Smartphones */
@media (max-width: 640px) {
  .nodehive-spaces-cards-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smartphones */
  }
}


.nodehive-space-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}

.nodehive-space-card-title {
  color: black;
  color: var(--gin-color-primary-active);
  padding: var(--gin-spacing-m) var(--gin-spacing-l);
  margin: 0;
  font-size: 1em;
  font-weight: bold; /* Bold text for emphasis */
  letter-spacing: -.05em;
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis to overflow text */
}

.nodehive-space-card-thumbnail {
  border-top: 2px solid var(--gin-bg-header);
  border-bottom: 2px solid var(--gin-bg-header);
  background-color: var(--gin-bg-header);
  background-size: cover;
  width: 100%;
  aspect-ratio: 16 / 9; /* Maintain aspect ratio */

}

.nodehive-space-card-actions {
  padding: var(--gin-spacing-m) var(--gin-spacing-l);
  padding-top: 10px;
}

.nodehive-space-card-actions a {
  margin: 10px 0;
  display: block;
  margin-inline: 0 0 !important;
}
