.nodehive-sidebar {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  gap: 40px;
  margin-bottom:1rem;
  font-size: 12px;
}

.remove-margin {
  margin: 0;
  margin-block: 0 !important;
  background-color: violet;
}

@media(min-width: 800px) {
  .nodehive-info {
    height: 0;
    position: absolute;
    right: 3rem;
    top: -6.2rem;
  }
}

#dashboard-node-hive-spaces-block .favicon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: 6px;
}

