.quick-links-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-column-gap: 5px; /* Space between items */
}

.quick-links-grid fieldset {
  margin-top: 0;
  margin-bottom: 5px;
}

.quick-links-grid fieldset .icon-container {
  width: 50px;
  height: 50px;
}

.quick-links-grid fieldset .icon-container svg {
  width: 100%;
  height: 100%;
}

.link-content {
  flex-grow: 1;
  width: 90%;
  font-size: smaller;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 20px;
  min-height: 70px;
}

.quick-links-grid fieldset a.button {
  display: block;
}
