.language-has-translation,
.language-add-translation {
  padding-right: 20px;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
  background-size: contain;
  width: 0;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.language-has-translation {
  background-image: url('../images/edit.png');
}

.language-add-translation {
  background-image: url('../images/add.png');
}

td.views-field-translation-button-1 {
  display: flex;
  gap: 10px;
}
