<div class="view-content gin-layer-wrapper">

  <select wire:model="contentType" class="p-2">
    <option value="">{{ 'All content types'|t }}</option>
    {% for type, label in content_types %}
      <option value="{{ type }}">{{ label }}</option>
    {% endfor %}
  </select>
  <input wire:model="search" class="p-2" type="search" placeholder="Search by title...">



  <table>
    <thead>
      <tr>
        <th class="w-32 ">{{ 'Type'|t }}</th>
        <th>{{ 'Title'|t }}</th>
        <th>{{ 'Status'|t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td class="views-field views-field-status overflow-hidden"><span class="marker whitespace-nowrap">{{ item.type }}</span></td>
          <td>{{ item.link }}</td>
          <td class="views-field views-field-status"><span class="marker">{{ item.status }}</span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
