.search-form .fieldset__wrapper {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.search-form .form-submit {
  margin-left: 1rem;
}

.search-form .form-item--search input {
  max-width: 20rem;
}

