.content-browser-row {
  display: flex;
  flex-direction: column;
}

.content-browser-row .top-header,
.content-browser-row .middle-container {
  display: flex;
}
.content-browser-row .top-header .type-header {
  font-size: 0.8rem;
}

.content-browser-row .top-header .operations-header,
.content-browser-row .middle-container .lang-container {
  margin-left: auto;
}

.content-browser-row .middle-container .lang-container {
  padding-top: 5px
}

.content-browser-row .middle-container .title-container {
  padding-right: 5rem;
}

.content-browser-row .bottom-container .url-container p {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  color: grey;
  padding-right: 5rem;
}

