.page-content {
  margin-bottom: 1rem !important;
}

.visualeditor-container {
  background-color: var(--gin-bg-app);
  margin: 0px;
}

.nodehive-preview {
  margin: 0 auto;
  background-color: black;
  text-align: center;
  display: flex;
  width:100%;
}

.nodehive-preview .visualeditor-content-sidebar {
  background-color: var(--gin-bg-app);
  border-right: 1px solid var(--gin-border-color-secondary);
  min-width: 500px;
  max-width: 500px;
  padding: 0px 20px 0 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 50px);
}

.nodehive-preview .visualeditor-content-sidebar select {
  width: 100%;
}

.nodehive-preview iframe {
  transition: all 0.3s;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: scroll;
  border: 0;
  border-top: 0px;
  background-color: white;
  padding: 0;
}

.nodehive-preview .visualeditor {
  display: flex;
  gap: 20px;
  width: 100%;
}

.nodehive-preview .visualeditor .visualeditor-preview {
  width: 100%;
  padding: 15px 15px 0 15px;
}

/* off canvas dialog override */
.visualeditor-off-canvas .ui-dialog-titlebar {
  display: none;
}

.visualeditor-off-canvas #drupal-off-canvas-wrapper {
  background: none;
  background-color: none;
}

.visualeditor-off-canvas #drupal-off-canvas {
  padding-top: 10px;
  background: none;
  background-color: none;
}

.visualeditor-off-canvas #drupal-off-canvas hr {
  margin: 1em;
  margin-left: 0;
}

.visualeditor-off-canvas #drupal-off-canvas .field-group-tabs-wrapper {
  padding-top: 10px;
}

.visualeditor-off-canvas #drupal-off-canvas .form-item__description {
  display: none;
}

.visualeditor-off-canvas #drupal-off-canvas .layout-node-form__actions {
  display: block;
}

.visualeditor-off-canvas #drupal-off-canvas .meta-sidebar__trigger {
  display: none;
}

.visualeditor-off-canvas #drupal-off-canvas .composable-breadcrumbs {
  margin-left: 0;
  font-size: small;
}

.visualeditor-off-canvas #drupal-off-canvas .composable-breadcrumbs li {
  display: inline;
  list-style: none;
  font-size: small;
}

.visualeditor-off-canvas
  #drupal-off-canvas-wrapper
  .js-media-library-item.media-library-item.media-library-item--grid {
  width: 100%;
}


.visualeditor-toolbar {
  background-color: var(--gin-bg-app);
  border-bottom: 1px solid var(--gin-border-color-secondary);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.visualeditor-toolbar .buttons {
  margin-top: 10px;
  height: 30px;
  display: inline-flex;
  border: 2px solid var(--gin-color-primary);
  border-radius: 5px; /* Rounded corners for the group */
  overflow: hidden; /* Ensures nested buttons' styles do not break the group's rounded corners */
  color: var(--gin-color-primary);
}

.resize-button {
  background-color: transparent;
  border: none; /* Removes individual borders */
  color: hsl(0, 0%, 20%);
  padding: 4px 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 8px; /* Space between icon and text */
  color: var(--gin-color-primary);
}

.resize-button:not(:last-child) {
  border-right: 2px solid var(--gin-color-primary);
}

.resize-button svg {
  fill: currentColor;
}

.resize-button:hover,
.resize-button:focus {
  background-color: var(--gin-color-primary);
  color: white;
}

/* Optionally, you can add styles for the first and last buttons to fine-tune the appearance */
.resize-button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.resize-button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#drupal-off-canvas {
  padding: 15px;
  padding-bottom: 90px;
}

#drupal-off-canvas .horizontal-tabs {

}

#drupal-off-canvas .horizontal-tabs ul.horizontal-tabs-list {
  padding: 18px 22px !important;
}


#drupal-off-canvas .horizontal-tabs ul.horizontal-tabs-list::after {
  border: 0;
}



#drupal-off-canvas .form-actions {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9
}

#drupal-off-canvas .entity-meta {

}

.ui-dialog-titlebar {
  background-color: var(--gin-offcanvas-active) !important;
}



#drupal-off-canvas2 .js-media-library-item.media-library-item.media-library-item--grid {
  width: 100%;
}

.gin-utility-margin-small {
  margin-block: var(--space-s);
  margin-inline: 0 var(--space-xs);
}

.gin-utility-margin-0 {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
}

.gin-utility-text-xs {
  font-size: var(--font-size-xs);
  line-height: calc(17rem / 16);
}

.gin-w-6 {
  width: 24px;
}
.gin-h-6 {
  height: 24px;
}

.gin-w-12 {
  width: 48px;
}
.gin-h-12 {
  height: 48px;
}

.gin-utility-flex {
  display: flex;
}

.gin-utility-gap-2 {
  gap: var(--space-xs);
}

ul.gin-utility-list-none {
  list-style: none;
  list-style-type: none;
}

.nodehive-button-small {
  padding: var(--space-xs) var(--space-s);
  font-size: var(--gin-font-size-xxs);
  border: 2px solid var(--gin-color-primary);
  border-radius: 5px;
  background-color: transparent;
  font-weight: var(--gin-font-weight-semibold);
  color: var(--gin-color-primary);
  line-height: 1rem;
}

