@tailwind base;
@tailwind components;
@tailwind utilities;

.doc-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doc-content .response {
  max-height: 500px;
  overflow-y: auto;
}

.doc-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doc-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doc-content p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.doc-content a {
  color: #0c645f;
}

.doc-content b {
  font-weight: bold;
}

.doc-content ul,
.doc-content ol {
  list-style: initial;
  margin: initial;
  padding: initial;
}

.doc-content ul  {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.doc-content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
