/**  Top links  */
.top-container .top-links-container a {
  padding-left: 3rem;
  padding-right: 3rem;
}

.local-actions .local-actions__item a::before {
  display: none;
}

/**  Add content block */
.add-content-container {
  display: flex;
  flex-wrap: wrap;
}

.add-content-container details {
  width: 260px;
  margin-right: 1rem;
}

.add-content-container summary {
  display: none;
}

.add-content-container .form-type--item label {
  font-size: 1.2rem;
}

.add-content-container .add-content-links {
  display: flex;
  padding-top: 1rem;
}

.add-content-container .add-content-links .add-content-link-browse {
  margin-left: auto;
}

/* Middle */
.middle-content-container {
  display: flex;
}

.middle-content-container fieldset {
  width: 100%;
  background-color: white !important;
}

.middle-content-container .menu-block-container {
  max-width: 25%;
  margin-right: 3rem;
}

.middle-content-container .menu-block-container .edit-link {
  float: right;
}

@media(min-width: 800px) {
  .top-container {
    display: flex;
  }

  .top-container .top-links-container {
    margin-left: auto;
    z-index: 999;
    order: 2;
  }
}
