{% if space_url and space_id and language %}
  <h2>Copy this to your .env file in your frontend project</h2>
  <p>Copy the following environment variables</p>
  <ul>
    <li>... to <strong>.env</strong> in your production node app</li>
    <li>... to <strong>.env.local</strong> in your development node app</li>
    <li>... to <a href="https://vercel.com/" target="_blank">Vercel</a> or Netlify environment variables</li>
  </ul>
  <br />
  <div class='env-file-wrapper'>
    <pre class='env-file'>
    # NodeHive
    NEXT_PUBLIC_DRUPAL_REST_BASE_URL="https://{{ base_url }}"
    NEXT_PUBLIC_DRUPAL_BASE_URL="https://{{ base_url }}"
    NEXT_IMAGE_DOMAIN="{{ base_url }}"

    # Frontend
    NEXT_PUBLIC_FRONTEND_BASE_URL="{{ space_url }}"

    # Drupal NodeHive
    NEXT_PUBLIC_DRUPAL_NODEHIVE_SPACE_ID={{ space_id }}
    NEXT_PUBLIC_NODEHIVE_SPACE_NAME="nodehive_{{ space_id }}"
    NODEHIVE_STARTPAGE_SLUG=/node/{{ homepage }}
    NODEHIVE_DEFAULT_LANGUAGE={{ language }}
    </pre>
    </div>

    <h3>Optional: Prevent SSL errors (only use for local development)</h3>

    <div class='env-file-wrapper'>
    <pre class='env-file'>
    NODE_TLS_REJECT_UNAUTHORIZED=0
    </pre>
  </div>
{% else %}
  <p>Please select a space to view its local configuration.</p>
{% endif %}
