hello
{#
/**
 * @file
 * Claro's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set page_title_block = active_admin_theme ~ '_page_title' %}
{% set local_actions_block = active_admin_theme ~ '_local_actions' %}

{% if toolbar_variant != 'vertical' %}
<div class="region-sticky-watcher"></div>
{% endif %}

<div class="gin-secondary-toolbar layout-container">
  <div class="gin-breadcrumb-wrapper">
  {% if route_name == 'entity.node.canonical' %}
    <div class="region region-breadcrumb gin-region-breadcrumb">
      <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
        <ol class="breadcrumb__list">
          <li class="breadcrumb__item">
            {% if entity_edit_url and entity_title %}
              <a class="breadcrumb__link gin-back-to-admin" href="{{ entity_edit_url }}">{{ 'Edit %title'|t({ '%title': entity_title }) }}</a>
            {% else %}
              <a class="breadcrumb__link gin-back-to-admin" href="{{ path('system.admin_content') }}">{{ 'Back to Administration'|t }}</a>
            {% endif %}
          </li>
        </ol>
      </nav>
    </div>
  {% else %}
    {{ page.breadcrumb }}
  {% endif %}
  </div>
  {{ page.gin_secondary_toolbar }}
</div>

{% if toolbar_variant == 'vertical' %}
<div class="region-sticky-watcher"></div>
{% endif %}

<header class="region region-sticky">
  <div class="layout-container region-sticky__items">
    <div class="region-sticky__items__inner">
      {{ page.header[page_title_block] }}
      {{ page.content[local_actions_block] }}
    </div>
  </div>
</header>

<div class="sticky-shadow"></div>

<div class="content-header clearfix">
  <div class="layout-container">
    {{ page.header|without(page_title_block) }}
  </div>
</div>

<div class="layout-container">
  {{ page.pre_content }}
  <main class="page-content clearfix" role="main">
    <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
    {{ page.highlighted }}
    {% if page.help %}
      <div class="help">
        {{ page.help }}
      </div>
    {% endif %}
    {{ page.sidebar_custom }}
    {{ page.content|without(local_actions_block) }}
  </main>
</div>
