{#
/**
 * @file
 * Default theme implementation to display the visual editor.
 *
 * Available variables:
 * - url: The url to preview site.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('nodehive_core/node') }}


<div class="visualeditor-toolbar">
	<div class="flex gap-2 m-3">
		<div class="">
			<button class="nodehive-content-browser border-2 border-[var(--gin-color-primary)] rounded-[5px] bg-transparent font-[var(--gin-font-weight-semibold)] text-[var(--gin-color-primary)]">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
					<rect x="1" y="2" width="3" height="12" fill="currentColor"/>
					<line x1="6" y1="4" x2="14" y2="4"/>
					<line x1="6" y1="8" x2="14" y2="8"/>
					<line x1="6" y1="12" x2="14" y2="12"/>
				</svg>
			</button>
		</div>
		<div class="text-sm pt-1">
			<span>You are editing
				<span class="font-semibold">{{selected_space.label.0.value}}</span>
			</span>
		</div>
	</div>
	<div class="buttons">
		<button class="resize-button" data-size="100%">
			<svg viewbox="0 0 24 24" width="16" height="16" fill="currentColor"><!-- Full size icon SVG --><path d="M3 3h18v18H3z"/></svg>
			Full size
		</button>
		<button class="resize-button" data-size="1400px">
			<svg viewbox="0 0 24 24" width="16" height="16" fill="currentColor"><!-- Desktop icon SVG --><path d="M22 2H2v20h20V2zm-2 18H4V4h16v16z"/><path d="M4 6h16v2H4z"/></svg>
			Desktop
		</button>
		<button class="resize-button" data-size="768px">
			<svg viewbox="0 0 24 24" width="16" height="16" fill="currentColor"><!-- Tablet icon SVG --><path d="M21 4H3c-1.1 0-1.99.9-1.99 2L1 18c0 1.1.89 2 1.99 2H21c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H3V6h18v12z"/></svg>
			Tablet
		</button>
		<button class="resize-button" data-size="375px">
			<svg viewbox="0 0 24 24" width="16" height="16" fill="currentColor"><!-- Mobile icon SVG --><path d="M16 1H8c-1.1 0-1.99.9-1.99 2L6 21c0 1.1.89 2 1.99 2H16c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zm0 18H8V5h8v14z"/><path d="M12 19c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1z"/></svg>
			Mobile
		</button>
	</div>

	<div class=" m-3">
		<a href="?url={{ frontend_login_url }}" class="nodehive-button-small">Frontend Login</a>
	</div>

</div>

<div class="my-4">
	<ul class="flex gap-2">
		<li class="list-none">
			<a class="rounded-[2rem] hover:bg-[var(--gin-color-primary-light)] min-h-[var(--tabs-link-height)] px-[var(--space-l)] py-[var(--space-s)] no-underline text-[var(--color-gray-800)] leading-[1.2rem]" href="/space/{{selected_space.id.0.value}}">Overview</a>
		</li>
		<li class="list-none">
			<a class="rounded-[2rem] bg-[var(--gin-color-primary-light)] min-h-[var(--tabs-link-height)] px-4 py-2 no-underline text-[var(--color-gray-800)] leading-[1.2rem]" href="/space/{{selected_space.id.0.value}}">Editor</a>
		</li>
		<li class="list-none">
			<a class="rounded-[2rem] hover:bg-[var(--gin-color-primary-light)] min-h-[var(--tabs-link-height)] px-[var(--space-l)] py-[var(--space-s)] no-underline text-[var(--color-gray-800)] leading-[1.2rem]" href="/space/{{selected_space.id.0.value}}/content">Content</a>
		</li>
		<li class="list-none">
			<a class="rounded-[2rem] hover:bg-[var(--gin-color-primary-light)] min-h-[var(--tabs-link-height)] px-[var(--space-l)] py-[var(--space-s)] no-underline text-[var(--color-gray-800)] leading-[1.2rem]" href="/space/{{selected_space.id.0.value}}/areas">Areas</a>
		</li>
		<li class="list-none">
			<a class="rounded-[2rem] hover:bg-[var(--gin-color-primary-light)] min-h-[var(--tabs-link-height)] px-[var(--space-l)] py-[var(--space-s)] no-underline text-[var(--color-gray-800)] leading-[1.2rem]" href="/space/{{selected_space.id.0.value}}/fragments">Fragments</a>
		</li>
		<li class="list-none">
			<a class="rounded-[2rem] hover:bg-[var(--gin-color-primary-light)] min-h-[var(--tabs-link-height)] px-[var(--space-l)] py-[var(--space-s)] no-underline text-[var(--color-gray-800)] leading-[1.2rem]" href="/space/{{selected_space.id.0.value}}/create">Add content</a>
		</li>

	</ul>
</div>


<div class="nodehive-preview">
	<div class="visualeditor-content-sidebar">
		{{ recent_edit_form }}
	</div>
	<div class="visualeditor  scale-50">
		<div class="visualeditor-preview scale-75">
			<iframe id="nodehive-visualeditor" class="nodehive-iframe" width="100%" height="500" src="{{ url }}"></iframe>
		</div>
	</div>
</div>
