{#
<ul class='composable-breadcrumbs'>
  {% for menuItem in menu %}
    <li>
      {% if menuItem.url is defined %}
        <a
          href="{{ menuItem.url }}"
          class="use-ajax"
          data-dialog-options="{&quot;width&quot;:&quot;880&quot;}"
          data-dialog-renderer="off_canvas"
          data-dialog-type="dialog">
            {{ menuItem.label }}
        </a>
      {% else %}
        {{ menuItem.label }}
      {% endif %}
      {% if not loop.last %}
        >
      {% endif %}
    </li>
  {% endfor %}
  </li>
</ul>
<hr/>
#}

{{ form }}
