<div class="nodehive-spaces-select-wrapper">

	<select id="nodehive-spaces-selector" class="nodehive-spaces-select">
		{% if spaces|length > 0 %}
			{% for key, space in spaces %}
				{% if key == selected_space_id %}
					<option value="{{ key }}" selected>{{ space.label.value }}</option>
				{% else %}
					<option value="{{ key }}">Switch to
						{{ space.label.value }}</option>
				{% endif %}
			{% endfor %}
		{% endif %}
	</select>

	<a href="/space/{{selected_space_id}}">Space Dashboard</a>
</div>
